* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: darkorange;
    /* width: 100%; */
    position: sticky;
    z-index: 1;
    top: 0;
    margin-bottom: 5rem;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 1.7em;
    padding: 5px;
    align-items: center;
}

.logof {
    display: flex;
    align-items: center;
}

.container div>img {
    width: 10rem;
}

.container-1 {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    position: relative;
}

.box {
    flex-basis: 32%;
    margin: 30px 0;
}

.photo img {
    width: 100%;
}

.b-red {
    border: 1px solid red;
    background-color: red;
    color: white;
}

.b-green {
    border: 1px solid green;
    background-color: green;
    color: white;
}

.p-red {
    color: red;
    font-weight: bold;
}

.p-black {
    color: black;
    font-weight: lighter;
    text-decoration: line-through;
}

.discount {
    position: absolute;
    left: 0;
    bottom: 5%;
    font-size: 1.7em;
}

.heart {
    position: absolute;
    background-color: white;
    text-align: center;
    padding: 2rem;
    right: 0;
    top: 1%;
}

.text {
    font-size: 1.5em;
}

.container-2 {
    background-color: #333;
    padding: 10px;
    border-bottom: 1px solid white;
}

.container-3 {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    color: white;
    font-size: 1.2em;
    line-height: 1.3em;
}

.bold {
    font-weight: bold;
}

.m-right {
    margin-right: 5px;
}

.img-n {
    display: none;
}

.photo:hover .img1 {
    display: none;
}

.photo:hover .img2 {
    display: block;
}

.heart-r {
    color: red;
    display: none;
}

.heart:hover .heart-r {
    display: block;
}

.heart:hover .heart-r1 {
    display: none;
}

.unline:hover .unline-1 {
    text-decoration: underline;
}