*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: darkorange;
}

.container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 0.1em;
    padding: 5px;
}

.container div>img{
    width: 40px;
}